//- Kategorien erben alle templates von category.jade,
//- und müssen nur den header-block überschreiben

extends category

block header
    h1 VD-Archiv
    p.lead Die VD, die Vereinszeitung der Forth-Gesellschaft, erscheint seit 1984 (fast immer) viermal jährlich.
