//- (c)2017 by Gerald Wodni

extends layout

block content
    .container
        h1 Profil editieren

        if error
            div.alert.alert-danger
                strong
                    = error

        if success
            div.alert.alert-success
                strong
                    = success

        form(method='post',role='form')
            +textarea-field("details", "Details - Erzähl etwas von dir, verlinke deine Profile (verwendet Markdown)", "")
            button.btn.btn-primary(type='submit',name='change',value='yes')=__("Change")
            p

