//- (c)2017 by Gerald Wodni

extends layout

block menu
    +menu

block content
    .container
        h1 Profil editieren

        +messages(messages)

        form(method='post',role='form')
            +email-field("email", "Email", user.email)
            +textarea-field("details", "Details - Erzähl etwas von dir, verlinke deine Profile (verwendet Markdown)", user.details)
            button.btn.btn-primary(type='submit',name='change',value='yes')=__("Change")
            p

