//- (c)2017 by Gerald Wodni

extends layout

block menu
    +menu

block content
    .container
        h1 Profil editieren

        +messages(messages)

        form(method='post',role='form')
            +text-field("avatar", "Avatar - max 64x64 Pixel. Wenn leer wird Gravatar verwendet.", user.avatar)
            +text-field("image", "Image - max 496x496 Pixel. Wenn leer wird Gravatar verwendet.", user.image)
            +email-field("email", "Email", user.email)
            +textarea-field("details", "Details - Erzähl etwas von dir, verlinke deine Profile (verwendet Markdown)", user.details)
            button.btn.btn-primary(type='submit',name='change',value='yes')=__("Change")
            p

