//- (c)2016 by Gerald Wodni

extends layout

block menu
    +menu

block content
    +box.forth-ev
        img(src="/images/forthEv.png")
        h1
            a(href="https://forth-ev.de/wiki/infos:forthgesellschaftev") Forth-Gesellschaft e.V.
        h2 Wir programmieren Forth (cluster: uranus)
            
    +box.hot
        each article in articlesHot
            h2= article.title
            - var intro = article.type == "markdown" ? marked( article.intro ) : article.intro
            p!= intro.replace( /src="\/images\//g, 'src="http://forth-ev.de/images/' )

    each article in articles
        +article(article)

