//- Kategorien erben alle templates von category.jade,
//- und müssen nur den header-block überschreiben

extends category

block header
    h1 Mikrocontrollerverleih
    p.lead Jedes Vereinsmitglied kann aus einer riesigen Menge an verschiedensten Mikrocontrollen wählen:
