//- Kategorien erben alle templates von category.jade,
//- und müssen nur den header-block überschreiben

extends category

block header
    h1
        a(href="/wiki/infos:forthchatnet2o", title="net2o chatlog - every thursday").pull-right
            img(src="/images/net2o/net2o-logo.png", alt="net2o logo, little squiddy")
        | Neuigkeiten
    p.lead Frisch aus dem Internet
