//- Kategorien erben alle templates von category.jade,
//- und m체ssen nur den header-block 체berschreiben

extends category

block header
    h1
        a(href="/wiki/infos:forthchatnet2o", title="net2o chatlog - every thursday").pull-right
            img(src="/images/net2o/net2o-logo.png", alt="net2o logo, little squiddy")
        | Alle Meldungen
    p.lead Runter bl채ttern in die Vergangenheit ... 
     a(href="https://alt.forth-ev.de/") oder das alte Format w채hlen.
