//- Kategorien erben alle templates von category.jade,
//- und müssen nur den header-block überschreiben

extends category

block header
    h1 Tagungen
    p.lead Vorträge, Workshops und gemeinsames Hacken
