//- TODO-Liste (über /todo erreichbar)

extends layout

block menu
    +menu

block content

    +box
        h1 TODOs
        h2 Für Jedermann:
        ol
            li
                h1 BILDER!
                p Wir brauchen ganz dringend viel mehr Bilder um den Text jugentauglicher und augenfreundlicher zu machen, vor allem bei den Forthapplikationen.
                p Beim Drachenpreis sieht man wie cool gleich alles aussieht ;)
            li Das neue Logo braucht einen schöneren Ring, ich habe die Buchstaben sorgfältig designed, aber der Ring war dann doch nur eine Maske mit Muster.
            li Werden weitere Menüpunkte benötigt?
            li Typos korrigieren
            li Header-Blöcke schöner gestalten in templates die von category ableiteen (z.B. µController-Verleih)

        h2 Gerald:
        ol
            li Verlinkte Bilder kopieren und anschließend den hässlichen Hack in den folgenden Files dazu löschen
                ol
                    li views/home.jade
                    li views/category.jade

