//- (c)2017 by Gerald Wodni

extends layout

block menu
    +menu

append scripts
    != wiki.scripts

append head
    != wiki.links

block content
    +box.wiki
        div(style="border:1px solid red")
            != wiki.html
