//- (c)2017 by Gerald Wodni

extends layout

block menu
    +menu

append scripts
    != wiki.scripts

append head
    != wiki.links
    +style-tag('/css/wiki.css')

block full-content
    != wiki.html
